html
  head
    title #{movie.title}
    meta(charset="utf-8")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP")
    link(rel="stylesheet" href="../css/main.css")

  body
    include partials/header.pug
    div(class="center-container")
      div(class="row-container")
        div
          div(class="row-container")
            img(src=movie.poster)
            form(action="/users/"+currentUser+"/watchedMovies" method="post")
              button(class="btn btn-small" type="submit" name="addId" value=movie._id) Add to WatchList
              h1 #{movie.title}
              b Plot: 
              br
              |#{movie.plot}
          div
            b Released: #{movie.date}
            br
            b Runtime: #{movie.runtime} mins
            br
            b Average Score: #{movie.avg} / 10
            br
            b Genres:
            if movie.genres.length > 0
              each g in movie.genres
                a(href="/movies?genre="+g) #{g}

        div(class="tabs")
          ul(class="nav nav-tabs" id="myTab" role="tablist")
            li(class="nav-item" role="presentation")
              button(class="nav-link active" id="similar-tab" data-bs-toggle="tab" data-bs-target="#similar" type="button" role="tab" aria-controls="similar" aria-selected="true") Similar Movies
            li(class="nav-item" role="presentation")
              button(class="nav-link" id="directed-tab" data-bs-toggle="tab" data-bs-target="#directed" type="button" role="tab" aria-controls="directed" aria-selected="false") Directed By
            li(class="nav-item" role="presentation")
              button(class="nav-link" id="wrote-tab" data-bs-toggle="tab" data-bs-target="#wrote" type="button" role="tab" aria-controls="wrote" aria-selected="false") Written By
            li(class="nav-item" role="presentation")
              button(class="nav-link" id="cast-tab" data-bs-toggle="tab" data-bs-target="#cast" type="button" role="tab" aria-controls="cast" aria-selected="false") Cast
  
          div(class="tab-content" id="myTabContent")
            div(class="tab-pane fade show active" id="similar" role="tabpanel" aria-labelledby="people-tab")
                div(class="container")
                  if movie.similar && movie.similar.length > 0
                    each m in movie.similar
                      a(href=m._id) #{m.title}
                      br
  
            div(class="tab-pane fade" id="directed" role="tabpanel" aria-labelledby="people-tab")
              div(class="container")
                if movie.directors.length > 0
                  each d in movie.directors
                    a(href="../people/"+d._id) #{d.name}
                    br
  
            div(class="tab-pane fade" id="wrote" role="tabpanel" aria-labelledby="people-tab")
              div(class="container")
                if movie.writers.length > 0
                  each w in movie.writers
                    a(href="../people/"+w._id) #{w.name}
                    br
  
            div(class="tab-pane fade" id="cast" role="tabpanel" aria-labelledby="people-tab")
              div(class="container")
                if movie.actors.length > 0
                  each a in movie.actors
                    a(href="../people/"+a._id) #{a.name}
                    br
  
          if movie.reviews && movie.reviews.length > 0
            div(class="container")
              each r in movie.reviews
                div(class="review")
                  b Reviewer: #{r.username}
                  br
                  |Score: #{r.score} / 10
                  br
                  |#{r.summaryText}
                  br
                  a(href="../reviews/"+r.rId) Full Text
                  br
                  br
        
        form(class="form" action="/reviews" method="POST")
          b Add a Review:
          br
          |Score: 
          br
          input(class="txt" type="text" id="score-field" name="score")
          br
          |Review Summary:
          br
          input(class="txt" type="text" id="summary-field" name="summary")
          br
          |Full review text:
          br
          textarea(class="txt" id="review-field" rows="10" cols="15" name="fulltext")
          br
          input(type="text" name="movieId" value=movie._id hidden)
          button(class="btn" type="submit" name="addReview" value="Post Review") Post
